/*Adds styling to the body*/
body {
    background-color: green;
}
/*Adds styling to the calculator itself*/
.calculator{
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px #000000;
    max-width: 400px;
}

/*Adds styling to the output window*/
#output{
    height: 70px;
    line-height: 70px;
    font-size: 25px;
    text-align: right;
    padding: 16px 8px;
    background-color: #ffffff;
}

/*Adds styling to all the buttons*/
.buttons{
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
}

/*Adds styling to all buttons where the parent is a div element*/
.buttons > div{
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}

/*Adds styling to all buttons apart from the equals button*/
.button{
    background-color: #ffffff;
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

/*Adds colour to the equals button*/
#equals{
    background-color: #ff69b4;
    color: #ffffff; 
}

/*Adds styling when the user hovers over a button*/
.button:hover{
    color: #ffffff;
    background-color: #666;
}